AffinityOnLinux
bashrc
BetterDiscord
bleachbit
browsh
byobu
cava
cfg_backups
Code - OSS
dconf
discord
equibop
Equicord
fastfetch
fastfetch_backup_20260513_203319
fish
fontconfig
fontforge
foot
galculator
geeqie
gh
github-nativefier-008ec4
go
godot
gtk-3.0
gtk-4.0
heroic
htop
JetBrains
kde-material-you-colors
kdedefaults
kitty
Kitware
Kvantum
legcord
libreoffice
matugen
menus
mozilla
mpv
nautilus
nemo
niri
nvim
nwg-look
nvtop
obs-studio
ohmyposh
opencode
pacseek
procps
pypr
qalculate
qt6ct
qtengine
ristretto
rofi
session
sidepad
spicetify
strawberry
swaync
systemd
uwsm
Vencord
vesktop
vim
VirtualBox
vlc
VSCodium
waypaper
whatsapp-nativefier-d40211
wlogout
xdg-desktop-portal
xfce4
xsettingsd
yarn
yay
zed
zsh
zshrc
zshrc.d

arkrc
baloop? 
bluedevilglobalrc
chrome-flags.conf
chromium-flags.conf
code-flags.conf
darklyrc
dolphinrc
edge-flags.conf
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kconf_updaterc
kdeglobals
kglobalshortcutsrc
konsolerc
ktimezonedrc
kwinoutputconfig.json
kwinrc
mimeapps.list
partitionmanagerrc
pavucontrol.ini
plasma-localerc
QtProject.conf
starship.toml
thorium-flags.conf
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
zoom.conf
zoomus.conf
baloofilerc
zoom
xdg-terminals.list
Kingsoft
hypr.backup-2026-09-03
hypr.old